
/*--------------------------------------------------------------
Shopstar - Custom WooCommerce Styling
--------------------------------------------------------------*/

/* -------- Table -------- */

.woocommerce table.shop_table,
.woocommerce-page table.shop_table {
    margin: 0 0 25px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.woocommerce table.cart th,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart th {
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 16px;
    text-shadow: none;
    font-weight: 500;
    padding: 10px;
}

.woocommerce table.shop_table td,
.woocommerce-page table.shop_table td {
    padding: 25px 10px;
}
.woocommerce .cart-collaterals .cart_totals table,
.woocommerce-page .cart-collaterals .cart_totals table {
    float: right;
}
.woocommerce .cart-collaterals .cart_totals tr th,
.woocommerce-page .cart-collaterals .cart_totals tr th {
    padding: 15px 10px 15px 0;
}
.woocommerce .cart-collaterals .cart_totals table td,
.woocommerce-page .cart-collaterals .cart_totals table td {
    padding: 15px 0 15px 10px;
    text-align: right;
    width: 12%;
}
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot th {
    vertical-align: middle;
}
.woocommerce table.shop_table.my_account_orders th,
.woocommerce-page table.shop_table.my_account_orders th,
.woocommerce table.shop_table.order_details th,
.woocommerce-page table.shop_table.order_details th,
.woocommerce-checkout table.shop_table thead .product-name,
.woocommerce-checkout table.shop_table thead .product-total {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
}
.woocommerce table.shop_table tfoot th,
.woocommerce-page table.shop_table tfoot th,
.woocommerce table.shop_table tfoot td,
.woocommerce-page table.shop_table tfoot td {
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
}

.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
    max-width: 300px;
}

.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    width: 52%;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
    width: 50%;
}

.woocommerce .cart-collaterals .cart_totals h2 {
	padding: 0 0 15px 0;
}

.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
    font-size: 30px;
    color: #777;
}
.woocommerce table.cart img,
.woocommerce-page #content table.cart img,
.woocommerce-page table.cart img {
    width: 100px;
    height: auto;
	vertical-align: top;
}

.woocommerce #customer_details,
.woocommerce-page #customer_details {
    display: block;
    width: 54%;
    clear: none;
    float: left;
    margin-left: 0;
    margin-right: 6%;
}

.woocommerce #customer_details .col-1,
.woocommerce-page #customer_details .col-1,
.woocommerce #customer_details .col-2,
.woocommerce-page #customer_details .col-2 {
    float: none;
    width: 100%;
}
.woocommerce #customer_details .col-2,
.woocommerce-page #customer_details .col-2 {
    margin: 25px 0 0;
    padding: 25px 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}
.woocommerce #order_review_heading,
.woocommerce-page #order_review_heading,
.woocommerce #order_review,
.woocommerce-page #order_review {
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: rgba(0, 0, 0, 0.02);
    display: block;
    width: 40%;
    clear: none;
    float: right;
    margin-right: 0;
    margin-left: 4%;
    margin-left: 0;
}
.woocommerce #order_review_heading,
.woocommerce-page #order_review_heading {
    border-bottom: 0;
    padding: 20px 20px 0;
    margin: 59px 0 0;
}
.woocommerce #order_review,
.woocommerce-page #order_review {
    border-top: 0;
    padding: 20px 20px 4px;
}

.woocommerce form .form-row,
.woocommerce-page form .form-row {
    padding: 0;
    margin: 0 0 5px;
}
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text {
    background-color: rgba(0, 0, 0, 0.02);
    font-weight: 400;
    font-size: 15px;
    text-transform: none;
    padding: 8px;
}
.woocommerce form .form-row textarea.input-text,
.woocommerce-page form .form-row textarea.input-text {
    background-color: rgba(0, 0, 0, 0.02);
    font-size: 14px;
    text-transform: none;
    padding: 8px;
    min-height: 100px;
}

.woocommerce .order_details,
.woocommerce-page .order_details {
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.woocommerce .order_details li,
.woocommerce-page .order_details li {
    padding: 20px;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
    background: none;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.18);
    box-shadow: none;
    height: 36px;
    border-radius: 0;
    padding: 2px 0 4px 8px;
}

.account-link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0;
    padding: 17px 0 0 0;
    line-height: 14px;
	height: 100%;
}

/* -------- Header Cart -------- */

.header-cart {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0 0 15px;
    padding: 9px 0 0 0;
    line-height: 14px;
	height: 100%;
}
.header-cart-contents {
    text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
.header-cart-contents:hover .otb-fa-shopping-cart  {
	color: rgba(255, 255, 255, 0.6);
}
.header-cart-amount {
}
.header-cart-checkout {
    margin: 0;
    padding: 0 0 0 6px;
}
.header-cart-checkout .fa,
.header-cart-checkout .otb-fa {
    font-size: 20px;
    margin: 0 0 0 2px;
    padding: 2px 0 3px 3px;
    border-radius: 3px;
    color: #FFF;
    
    -webkit-transition: color 0.1s linear 0s;
     -moz-transition: color 0.1s linear 0s;
      -ms-transition: color 0.1s linear 0s;
       -o-transition: color 0.1s linear 0s;
          transition: color 0.1s linear 0s;
}

/* -------- My Account -------- */

.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 25%;
}

.woocommerce-account .woocommerce-MyAccount-content {
	width: 73%;
}

/* -------- My Account sidebar -------- */

.woocommerce-MyAccount-navigation ul {
	list-style: none;
	margin: 0 0 1.5em 0;
}

.woocommerce-MyAccount-navigation li {
	margin: 0 0 0.5em 0;
}

.woocommerce-MyAccount-navigation li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	margin: 0 0.5em 0 1px;
	width: 8%;
}

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--dashboard:before {
	content: "\f108"
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--orders:before {
	content: "\f07c";
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--downloads:before {
	content: "\f019";
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-address:before {
	content: "\f041"
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-account:before {
	content: "\f044"
}
.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--customer-logout:before {
	content: "\f08b"
}

/* -------- Product Search Widget -------- */

.widget-area .widget_product_search {
	border: none;
}

/* -------- Products Widget -------- */

/* Content area */

.content-area .widget_woocommerce_products .widget-title {
	font-size: 18px;
    padding-bottom: 20px;
    margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
	background: url('../images/heading-underline.jpg') center bottom no-repeat;
}

.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget,
.content-area .widget_woocommerce_products ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li,
.woocommerce .content-area ul.product_list_widget li,
.content-area .widget_woocommerce_products ul li {
	display: inline-block;
	vertical-align: top;
	float: none;
	text-align: center;
	padding: 30px 0 4px 0;
}

.woocommerce .content-area ul.product_list_widget li,
.woocommerce-page .content-area ul.product_list_widget li,
.content-area ul.product_list_widget li {
	width: 22.65%;
}

.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li:nth-of-type(-n+4),
.content-area .widget_woocommerce_products ul li:nth-of-type(-n+4) {
	padding: 4px 0 4px 0;
}

.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li:nth-child(4n+4),
.content-area .widget_woocommerce_products ul li:nth-child(4n+4) {
	margin-right: 0;
}
.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li a,
.content-area .widget_woocommerce_products ul li a {
	text-decoration: none;
}

.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li .star-rating,
.woocommerce .content-area ul.product_list_widget li .star-rating {
	margin: 0 auto;
	color: #f1b038;
}

.content-area .elementor-widget-wp-widget-woocommerce_products .star-rating {
    float: none;
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.4em;
    font-family: star;
}

.content-area .elementor-widget-wp-widget-woocommerce_products .star-rating::before {
	content: "\73\73\73\73\73";
    top: 0;
    position: absolute;
    left: 0;
}

.content-area .elementor-widget-wp-widget-woocommerce_products .star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
}

.content-area .elementor-widget-wp-widget-woocommerce_products .star-rating span::before {
    content: "\53\53\53\53\53";
    top: 0;
    position: absolute;
    left: 0;
}

.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li img,
.woocommerce .content-area ul.product_list_widget li img,
.content-area .widget_woocommerce_products img {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto 10px auto;
    width: auto !important;
}
.content-area .elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li a:hover img, 
.content-area .widget_woocommerce_products ul li a:hover img {
	box-shadow: none;
	border: 1px solid #828387;
}

.content-area .elementor-widget-wp-widget-woocommerce_products .product-title,
.content-area .widget_woocommerce_products .product-title {
	text-transform: uppercase;
	text-align: center;
	display: block;
    font-size: 13px;
}
.content-area .elementor-widget-wp-widget-woocommerce_products del,
.content-area .widget_woocommerce_products del {
	display: inline-block;
	margin-right: 5px;
}
.content-area .elementor-widget-wp-widget-woocommerce_products ins,
.content-area .widget_woocommerce_products ins {
	display: inline-block;
	background-color: transparent;
    font-weight: 700;
}
.content-area .elementor-widget-wp-widget-woocommerce_products ins .amount,
.content-area .widget_woocommerce_products ins .amount {
	color: #ba2227;
}
.content-area .elementor-widget-wp-widget-woocommerce_products .amount,
.content-area .widget_woocommerce_products .amount {
	text-align: center;
	font-size: 15px;
	font-weight: 700;
}

/* Sidebar */

.widget-area ul.product_list_widget li {
	margin: 0 0 15px 0;
}

.widget-area ul.product_list_widget li:last-child {
	margin-bottom: 0;
}

.widget-area ul.cart_list li img,
.widget-area ul.product_list_widget li img {
	float: left;
    margin: 0 14px 0 0;
    width: 60px;
	border: 1px solid #ccc;
	
    -webkit-transition: all 0.08s linear 0s;
     -moz-transition: all 0.08s linear 0s;
      -ms-transition: all 0.08s linear 0s;
       -o-transition: all 0.08s linear 0s;
          transition: all 0.08s linear 0s;
}

.widget-area ul.cart_list li img:hover,
.widget-area ul.product_list_widget li img:hover {
	border: 1px solid #828387;
}

.widget-area ul.product_list_widget li .product-title {
	vertical-align: top;
    display: inline;
	line-height: 1.3;
}

.widget-area ul.product_list_widget li .star-rating {
	margin: 0 0 6px 0;
}

.widget-area ul.product_list_widget li .amount {
	font-size: 13px;
	vertical-align: top;
}

.widget-area ul.product_list_widget li del {
	opacity: .5;
}

.widget-area ul.product_list_widget li ins {
	background: transparent;
}

.widget-area ul.product_list_widget li ins .amount {
	color: #ba2227;
}

.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover {
    font-weight: 400;
	color: #939598;
}
.widget_woocommerce_products ins {
	display: inline-block;
	background-color: transparent;
    font-weight: 700;
}
.widget_woocommerce_products ins .amount {
	color: #ba2227;
}
.widget_woocommerce_products .amount {
	text-align: center;
	display: block;
	font-size: 15px;
	font-weight: 700;
}

.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button:disabled:hover,
.woocommerce button.button:disabled[disabled]:hover,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover {
	color: #FFFFFF;
	border-radius: 0;
	border: none;
	min-width: 170px;
	height: 48px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
}

/* -------- Shopping Cart Widget -------- */

.woocommerce.widget_shopping_cart .cart_list li {
	width: 100%;
	text-align: left;
	margin: 0 0 14px 0;
}
.woocommerce.widget_shopping_cart .cart_list li.empty {
	padding-left: 0;
}
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	color: #ba2227 !important;
	font-size: 1.5em;
}
.woocommerce.widget_shopping_cart .cart_list li a.remove:hover {
	background-color: #ba2227 !important;
	color: #FFFFFF !important;
}
.woocommerce.widget_shopping_cart .cart_list li .quantity {
	width: 160px !important;
}
.woocommerce.widget_shopping_cart .cart_list li img {
    float: right;
    margin-left: 4px;
    width: 32px;
    height: auto;
    box-shadow: none;
}

/* -------- Breadcrumbs -------- */

.woocommerce .woocommerce-breadcrumb,
.woocommerce-page .woocommerce-breadcrumb {
    line-height: 15px;
    font-size: 13px;
	font-weight: 300;
    margin: 0 auto 30px auto;
	text-align: center;
}

.woocommerce .woocommerce-breadcrumb a,
.woocommerce-page .woocommerce-breadcrumb a {
	text-decoration: none;
}

.single-product.woocommerce .woocommerce-breadcrumb,
.single-product.woocommerce-page .woocommerce-breadcrumb {
	margin-bottom: 37px;
}

/* -------- Product List Page -------- */

.woocommerce ul.products li.product .woocommerce-loop-category__title .count {
	background: transparent;
}

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.015);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    width: 50%;
    float: left;
    margin: 0 0 30px;
    padding: 15px 0 16px;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.015);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: block;
    width: 50%;
    text-align: right;
    margin: 0 0 30px;
    padding: 10px 0;
    float: left;
}
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select {
    background: #FFFFFF;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 26px 6px 6px;
    font-weight: 300;
    color: rgb(89, 89, 89);
	/*
	width: auto;
	*/
	width: 55%;
	width: 40%;
	max-width: 250px;
	min-width: 215px;
	
	/* reset */
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	
	background-image:
    	linear-gradient(45deg, transparent 50%, #000000 50%),
	    linear-gradient(135deg, #000000 50%, transparent 50%),
    	linear-gradient(to right, #FFFFFF, #FFFFFF);
  	background-position:
    	calc(100% - 17px) 20px,
    	calc(100% - 12px) 20px,
    	100% 0;
  	background-size:
    	5px 5px,
    	5px 5px,
    	30px 46px;
	background-repeat: no-repeat;
}

.woocommerce .products ul,
.woocommerce ul.products,
.woocommerce-page .products ul,
.woocommerce-page ul.products {
    margin: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
}

/* Product Item container */
.woocommerce ul.products.columns-2 li.product,
.woocommerce-page ul.products.columns-2 li.product {
	width: 48.4%;
	margin: 0 1.55% 35px;
}

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
	width: 31.2%;
	margin: 0 1.55% 35px;
}

.woocommerce ul.products.columns-4 li.product,
.woocommerce-page ul.products.columns-4 li.product {
	width: 22.65%;
	margin: 0 1.55% 35px;
}

.woocommerce:not(.shopstar-shop-full-width) ul.products.columns-4 li.product,
.woocommerce-page:not(.shopstar-shop-full-width) ul.products.columns-4 li.product {
	margin: 0 1.54% 35px;
}

.woocommerce ul.products.columns-5 li.product,
.woocommerce-page ul.products.columns-5 li.product {
	width: 17.5%;
	margin: 0 1.55% 35px;
}

.woocommerce:not(.shopstar-shop-full-width) ul.products.columns-5 li.product,
.woocommerce-page:not(.shopstar-shop-full-width) ul.products.columns-5 li.product {
	margin: 0 1.54% 35px;
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    text-align: center;
    float: left;
    list-style-type: none;
    position: relative;
}

.woocommerce ul.products li.product.first,
.woocommerce-page ul.products li.product.first {
	margin-left: 0 !important;
}
.woocommerce ul.products li.product.last,
.woocommerce-page ul.products li.product.last {
	margin-right: 0 !important;
}

.woocommerce ul.products li.product a {
	max-width: 100%;
}

.woocommerce ul.products li.product a,
.woocommerce-page ul.products li.product  {
	display: inline-block;
    position: relative;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce-page nav.woocommerce-pagination ul li a,
.woocommerce-page nav.woocommerce-pagination ul li span {
    padding: 10px !important;
}
.woocommerce #content nav.woocommerce-pagination ul,
.woocommerce nav.woocommerce-pagination ul,
.woocommerce-page #content nav.woocommerce-pagination ul,
.woocommerce-page nav.woocommerce-pagination ul {
    border-radius: 0;
	border: 1px solid #cccccc;
	border-right: none;
}
.woocommerce nav.woocommerce-pagination ul li:first-child,
.woocommerce-page nav.woocommerce-pagination ul li:first-child {
    border-radius: 0;
}
.woocommerce nav.woocommerce-pagination ul li:last-child,
.woocommerce-page nav.woocommerce-pagination ul li:last-child {
    border-radius: 0;
}

.woocommerce nav.woocommerce-pagination ul li {
	border-right: 1px solid #cccccc;
}

.woocommerce nav.woocommerce-pagination ul li a {
    -webkit-transition: all 0.08s linear 0s;
     -moz-transition: all 0.08s linear 0s;
      -ms-transition: all 0.08s linear 0s;
       -o-transition: all 0.08s linear 0s;
          transition: all 0.08s linear 0s;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: #ECEDED;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
	max-width: 100%;
	width: auto;
	
    -webkit-transition: all 0.08s linear 0s;
     -moz-transition: all 0.08s linear 0s;
      -ms-transition: all 0.08s linear 0s;
       -o-transition: all 0.08s linear 0s;
          transition: all 0.08s linear 0s;
}

.woocommerce ul.products li.product h2,
.woocommerce-page ul.products li.product h2,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3 {
    line-height: 1em;
    font-weight: 500;
    margin: 0;
    padding: 8px 0 !important;
    text-align: center;
    font-size: 18px;
}
.woocommerce ul.products li.product .price,
.woocommerce #content ul.products li.product span.price,
.woocommerce-page #content ul.products li.product span.price {
    font-weight: 600;
    padding: 0;
    font-size: 15px;
    margin: 0;
    text-align: center;
}
.elementor-widget-wp-widget-woocommerce_products ul.product_list_widget li del,
.widget_woocommerce_products ul li del,
.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	opacity: 0.6;
	font-weight: 400;
}
.elementor-widget-wp-widget-woocommerce_products del .amount,
.widget_woocommerce_products del .amount {
	font-weight: 400;
}

.woocommerce .products .star-rating,
.woocommerce-page .products .star-rating {
    position: absolute;
    left: 4px;
    top: 5px;
    opacity: 0;
    
    -webkit-transition: all 0.08s linear 0s;
     -moz-transition: all 0.08s linear 0s;
      -ms-transition: all 0.08s linear 0s;
       -o-transition: all 0.08s linear 0s;
          transition: all 0.08s linear 0s;
}

.woocommerce span.onsale {
	padding: 0;
	text-transform: uppercase;
	min-width: 5em;
	min-height: 5em;
	line-height: 5em;
	background-color: #ba2227
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
    width: 70px;
    height: 28px;
    min-height: 20px;
    margin: 0;
    padding: 4px 0 0;
    line-height: 20px;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    right: -6px;
    top: 5px;
}
.woocommerce ul.products li.product .onsale:after,
.woocommerce-page ul.products li.product .onsale:after {
    content: '';
    width: 0px;
    height: 0px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 25px;
    right: 2px;
    
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
	border-radius: 0;
}

.woocommerce #review_form #respond label {
	display: block;
}

.woocommerce #review_form #respond .required {
	color: #ff0000;
	font-size: 15px;
	font-weight: 400;
}

.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product a.ajax_add_to_cart,
.woocommerce-page ul.products li.product a.ajax_add_to_cart {
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 8px 0 0;
    text-shadow: none;
}

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
	padding-right: 2em !important;
}

.woocommerce #respond input#submit.loading::after,
.woocommerce a.button.loading::after,
.woocommerce button.button.loading::after,
.woocommerce input.button.loading::after {
	top: 13px;
}

.woocommerce ul.products li.product.outofstock a.add_to_cart_button,
.woocommerce-page ul.products li.product.outofstock a.add_to_cart_button,
.woocommerce ul.products li.product.outofstock a.ajax_add_to_cart,
.woocommerce-page ul.products li.product.outofstock a.ajax_add_to_cart,
.woocommerce ul.products li.product.outofstock a.button,
.woocommerce-page ul.products li.product.outofstock a.button {
	display: none;
}

.woocommerce ul.products li.product a.added_to_cart,
.woocommerce-page ul.products li.product a.added_to_cart {
	display: none;
    width: 25px;
    overflow: hidden;
    height: 31px;
    line-height: 20px;
    position: absolute;
    bottom: 5px;
    left: 65px;
    color: transparent;
}
.woocommerce ul.products li.product a.added_to_cart:before,
.woocommerce-page ul.products li.product a.added_to_cart:before {
    color: #FFF;
    content: "\2713";
    font-size: 26px;
}

.woocommerce ul.products li.product a:hover img,
.woocommerce-page ul.products li.product a:hover img {
    box-shadow: 0 0 0 4px rgb(28, 28, 28), 0 2px 18px rgba(0, 0, 0, 0.7);
}
.woocommerce ul.products li.product a:hover .star-rating,
.woocommerce-page ul.products li.product a:hover .star-rating {
    opacity: 1;
}


/* Result Count */

.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
	border-bottom: 0;
	box-shadow: none;
	padding: 15px 0 14px;
}

.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
	border-bottom: 0;
	box-shadow: none;
}

/* Sidebar mode */

.post-type-archive-product.woocommerce .widget-area,
.post-type-archive-product.woocommerce-page .widget-area {
	padding-top: 172px;
}


/* Full width mode */
.post-type-archive-product.woocommerce.shopstar-shop-full-width #container,
.post-type-archive-product.woocommerce-page.shopstar-shop-full-width #container,
.archive.woocommerce-page.shopstar-shop-full-width #container,
.post-type-archive-product.woocommerce.shopstar-shop-full-width .content-area,
.post-type-archive-product.woocommerce-page.shopstar-shop-full-width .content-area,
.archive.woocommerce-page.shopstar-shop-full-width .content-area {
	width: 100%;
	float: none;
	padding: 0;
}
.post-type-archive-product.woocommerce.shopstar-shop-full-width .widget-area,
.post-type-archive-product.woocommerce-page.shopstar-shop-full-width .widget-area,
.archive.woocommerce-page.shopstar-shop-full-width .widget-area {
	display: none;
}

/* Product Item container */

/* On Sale badge */
.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
	padding: 0;
	text-transform: uppercase;
	min-width: 3em;
	min-height: 3em;
	line-height: 3.3em;
    border-radius: 100%;
	width: 45px;
    height: 45px;
    margin: 0;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    right: -6px;
    top: -6px;	
	color: #FFFFFF;
}

/* Product thumbnail */
.hiddenUntilLoadedImageContainer.loading {
	background: url(../images/loader.gif) center center no-repeat;
	background-size: auto !important;
}

.hiddenUntilLoadedImageContainer.loading img {
	opacity: 0;
}

.woocommerce ul.products li.product a img,
.woocommerce-page ul.products li.product a img {
	border: 1px solid #ccc;
	display: block;
	margin: 0 auto 10px auto;	
}

.woocommerce ul.products li.product a:hover img, .woocommerce-page ul.products li.product a:hover img {
	box-shadow: none;
	border: 1px solid #828387;
}

/* Stars */
.woocommerce p.stars a,
.woocommerce .star-rating::before,
.woocommerce .star-rating span,
.woocommerce ul.products li.product .star-rating {
    color: #f1b038;
}

/* Sale price */
.woocommerce ul.products li.product .price ins {
	color: #ba2227;
	display: inline-block;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	text-align: center;
}

.woocommerce ul.products li.product .price del,
.woocommerce-page ul.products li.product .price del {
	display: inline-block;
	margin-right: 5px;
}

/* Product Title */
.woocommerce ul.products li.product h2,
.woocommerce-page ul.products li.product h2,
.woocommerce ul.products li.product h3,
.woocommerce-page ul.products li.product h3,
ul.product_list_widget li .product-title {
	font-size: 13px !important;
	font-weight: 400;
	line-height: 1.5;
	text-transform: uppercase;
}

/* Add to Cart button */
.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input,
.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product a.ajax_add_to_cart,
.woocommerce-page ul.products li.product a.ajax_add_to_cart {
	color: #FFFFFF;
	border-radius: 0;
	border: none;
	display: table;
	max-width: 100%;
	width: auto;
	line-height: 1;
	padding: .9em 1em .8em;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 20px;
}

.woocommerce ul.products li.product a.add_to_cart_button,
.woocommerce-page ul.products li.product a.add_to_cart_button,
.woocommerce ul.products li.product a.ajax_add_to_cart,
.woocommerce-page ul.products li.product a.ajax_add_to_cart {
	margin-left: auto;
	margin-right: auto;
}

/* -------- Single Product Page -------- */

.woocommerce div.product div.images img {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 0 6px rgba(0, 0, 0, 0.1);
	display: block;
	margin: 0 auto 10px auto;
}

.product.has-default-attributes.has-children>.images {
	opacity: 1;
}

.woocommerce #content div.product .product_title,
.woocommerce div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce-page div.product .product_title {
	text-align: left;
	font-size: 20px;
	background: none;
}

.woocommerce #content div.product div.images,
.woocommerce div.product div.images,
.woocommerce-page #content div.product div.images,
.woocommerce-page div.product div.images {
    margin: 0 0 40px;
    
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    margin-top: 0;
    margin-bottom: 40px;
}

.woocommerce .entry-summary .single_variation_wrap,
.woocommerce-page .entry-summary .single_variation_wrap {
	font-size: 14px;
	text-align: left;
}

.woocommerce .entry-summary .single_variation_wrap .woocommerce-variation-price,
.woocommerce-page .entry-summary .single_variation_wrap .woocommerce-variation-price {
	padding-bottom: 20px;
}

.woocommerce a.button,
.woocommerce-page a.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page input.button,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce button.button,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt {
    text-shadow: none !important;
    font-size: 16px !important;
    font-weight: 400;
	height: 48px;
	line-height: 26px;
	min-width: 170px;
    border: none;
    border-radius: 0;
	padding: .6em 1em .6em 1em;
	padding: .9em 1em .8em;
    margin: 0 0 0 7px;
    color: #FFFFFF;
}
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce-page a.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page input.button:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce-page button.button.alt:hover {
	color: #FFFFFF;
}

.woocommerce table.cart input.button,
.woocommerce-page #content table.cart input.button,
.woocommerce-page table.cart input.button {
	border: none;
}

.woocommerce table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon {
	/*width: 366px;*/
}

.woocommerce table.cart td.actions .coupon .input-text,
.woocommerce-page #content table.cart td.actions .coupon .input-text,
.woocommerce-page table.cart td.actions .coupon .input-text {
    background-color: #FFF;
    width: 50%;
    padding: 8px 6px;
    margin: 0 7px 0 0;
}

.woocommerce #content table.cart td.actions .coupon .button,
.woocommerce table.cart td.actions .coupon .button,
.woocommerce-page #content table.cart td.actions .coupon .button,
.woocommerce-page table.cart td.actions .coupon .button {
	float: left !important;    
}

.woocommerce #content table.cart td.actions .coupon .button,
.woocommerce table.cart td.actions .coupon .button,
.woocommerce-page #content table.cart td.actions .coupon .button,
.woocommerce-page table.cart td.actions .coupon .button,
.woocommerce #content table.cart td.actions .button,
.woocommerce table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce-page table.cart td.actions .button {
	margin-right: 0;
}

.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border-radius: 0;
}

.woocommerce form.checkout_coupon .form-row-first,
.woocommerce-page form.checkout_coupon .form-row-first {
    width: 56%;
}
.woocommerce form.checkout_coupon .form-row-last,
.woocommerce-page form.checkout_coupon .form-row-last {
    width: 44%;
}
.woocommerce form.checkout_coupon input.input-text,
.woocommerce-page form.checkout_coupon input.input-text {
    width: 100%;
}

.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
    width: 120px;
}
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
    height: 35px;
    background-color: #F5F5F5;
    border-radius: 3px;
	padding: 0px;
	font-size: 16px;
}
.woocommerce #content .quantity .minus,
.woocommerce #content .quantity .plus,
.woocommerce .quantity .minus,
.woocommerce .quantity .plus,
.woocommerce-page #content .quantity .minus,
.woocommerce-page #content .quantity .plus,
.woocommerce-page .quantity .minus,
.woocommerce-page .quantity .plus {
    width: 40px;
    height: 35px;
    color: #5e5e5e;
    float: left;
    position: relative;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-shadow: none;
    background: none !important;
    border: 0;
    box-shadow: none;
    outline: none !important;
}

.woocommerce-cart .wc-proceed-to-checkout,
.woocommerce-cart .wc-proceed-to-checkout {
	display: inline-block;
}

.woocommerce #content div.product .product_title,
.woocommerce div.product .product_title,
.woocommerce-page #content div.product .product_title,
.woocommerce-page div.product .product_title {
    margin: 0 0 10px;
	padding-bottom: 0 !important;
}
.woocommerce .woocommerce-product-rating,
.woocommerce-page .woocommerce-product-rating {
    float: right;
    margin: 8px 0 0;
}
.woocommerce #content div.product p.price,
.woocommerce-page #content div.product p.price,
.woocommerce-page div.product p.price {
    font-size: 24px;
	margin: 20px 0 0.5em 0;
}
.woocommerce div.product p.price del,
.woocommerce div.product span.price del {
	opacity: 0.6;
	font-weight: 400;
}
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	color: #ba2227;
}
.woocommerce form.cart,
.woocommerce-page form.cart {
    margin-top: 30px;
}

.woocommerce #review_form #respond .form-submit input,
.woocommerce-page #review_form #respond .form-submit input {
    position: relative;
}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
    margin: 20px 0 30px;
    padding: 25px 0 40px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 0;
    border-right: 0;
}
.woocommerce-tabs ul.tabs,
.woocommerce div.product .woocommerce-tabs ul.tabs,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
.woocommerce-page div.product .woocommerce-tabs ul.tabs {
    float: left;
    width: 20%;
    margin: 0 2% 0 0;
    padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs:before,
.woocommerce div.product .woocommerce-tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs:before,
.woocommerce-page div.product .woocommerce-tabs:before,
.woocommerce #content div.product .woocommerce-tabs:after,
.woocommerce div.product .woocommerce-tabs:after,
.woocommerce-page #content div.product .woocommerce-tabs:after,
.woocommerce-page div.product .woocommerce-tabs:after {
    content: ' ';
    display: table;
    clear: both;
}
.woocommerce #content div.product .woocommerce-tabs .panel,
.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce-page #content div.product .woocommerce-tabs .panel,
.woocommerce-page div.product .woocommerce-tabs .panel {
    padding: 10px 0 0;
    margin: 0 0 0 1%;
    width: 77%;
    float: left;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    background: none;
    box-shadow: none;
    border: 0 none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-size: 15px;
    border-radius: 0 !important;
    display: block;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li a {
	color: inherit;
    text-shadow: none;
    font-weight: 400;
    display: block;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a {
	font-weight: 700;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after {
    border: 0;
    box-shadow: none;
}

.woocommerce #content div.product form.cart .variations td.label,
.woocommerce div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label {
    padding: 5px 30px 10px 0;
}

.woocommerce div.product form.cart .variations select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
	width: 100%;
}

.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text,
.woocommerce form .form-row select,
.woocommerce-page form .form-row select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
    background: #FFFFFF;
    border-radius: 1px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
    padding: 6px;
    font-weight: 600;
    margin: 0 0 3px;
}

.woocommerce .cart-collaterals .shipping_calculator .button,
.woocommerce-page .cart-collaterals .shipping_calculator .button {
    width: auto;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 9px 20px 10px;
    box-shadow: none;
    color: #FFF;
    text-shadow: none;
    font-weight: 400;
    font-size: 14px;
}

/* Full width mode */
.single-product.woocommerce.shopstar-product-full-width #container,
.single-product.woocommerce-page.shopstar-product-full-width #container,
.single-product.woocommerce.shopstar-product-full-width .content-area,
.single-product.woocommerce-page.shopstar-product-full-width .content-area {
	width: 100%;
	float: none;
	padding: 0;
}
.single-product.woocommerce.shopstar-product-full-width .widget-area,
.single-product.woocommerce-page.shopstar-product-full-width .widget-area {
	display: none;
}

.woocommerce li.product .out-of-stock,
.woocommerce div.product .out-of-stock {
    color: #ba2227;
    font-size: 14px !important;
	margin-bottom: 0;
}

.single-product.woocommerce .entry-summary,
.single-product.woocommerce-page .entry-summary {
	margin: 1.5em 0 0;
}

.single-product.woocommerce .widget-area,
.single-product.woocommerce-page .widget-area {
	padding-top: 70px;
}

/* Product Image */
.woocommerce div.product div.images img {
	max-width: 100%;
	width: auto;
}

.single-product.woocommerce div.product div.images img {
    border: 1px solid #ccc;
    display: block;
    margin: 0 auto 10px auto;
	box-shadow: none;
}
.single-product.woocommerce div.product div.images a:hover img {
    border: 1px solid #828387;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	margin: 0;
}

/* Flex */

.woocommerce div.product div.images .flex-viewport {
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
}
.woocommerce div.product div.images .flex-viewport:hover {
	border: 1px solid #828387;
}

.woocommerce div.product div.images .flex-viewport .woocommerce-product-gallery__image {
	min-height: auto !important;
}

.woocommerce-product-gallery__image img {
	margin: 0 !important;
	border: 0 !important;
}

.woocommerce div.product div.images .flex-control-thumbs {
    padding-top: 1em;
}

.woocommerce div.product div.images .flex-control-thumbs li:nth-child(3n+0) {
	clear: none;
	margin-right: 0;
}

.woocommerce div.product div.images .flex-control-thumbs li {
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
    margin-bottom: 1em;
}
.woocommerce div.product div.images .flex-control-thumbs li img {
	margin: 0 auto 10px auto;
	opacity: 1;
}
.woocommerce div.product div.images .flex-control-thumbs li img:hover {
	border: 1px solid #828387;
}

/* When there's no gallery */

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper {
	border: 1px solid #ccc;
}
.woocommerce div.product div.images .flex-viewport .woocommerce-product-gallery__wrapper {
	border: none;
}

.woocommerce div.product div.images .woocommerce-product-gallery__wrapper:hover {
	border: 1px solid #828387;
}
.woocommerce div.product div.images .flex-viewport .woocommerce-product-gallery__wrapper:hover {
	border: none;
}

/* Stars */
.single-product.woocommerce div.product .woocommerce-product-rating {
    float: none;
    display: block;
}

.single-product.woocommerce .star-rating,
.single-product.woocommerce ul.products li.product .star-rating,
.single-product.woocommerce .woocommerce-product-rating .star-rating {
    color: #f1b038;
}

.single-product.woocommerce div.product p.price,
.single-product.woocommerce div.product span.price {
    color: #58585a;
    font-weight: 300;
}

.woocommerce #content div.product form.cart .variations td.label,
.woocommerce div.product form.cart .variations td.label,
.woocommerce-page #content div.product form.cart .variations td.label,
.woocommerce-page div.product form.cart .variations td.label {
    padding: 5px 1px 5px 1px;
    margin: 0;
}
.woocommerce div.product form.cart .variations label {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.woocommerce #content div.product form.cart .variations td.value,
.woocommerce div.product form.cart .variations td.value,
.woocommerce-page #content div.product form.cart .variations td.value,
.woocommerce-page div.product form.cart .variations td.value {
    padding: 0 0 2px 0;
}
.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text,
.woocommerce form .form-row select, .woocommerce-page form .form-row select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select {
    font-weight: 300;
    text-transform: none;
    font-size: 14px;
}


/* Varation Wrapper */
.woocommerce .entry-summary .single_variation_wrap,
.woocommerce-page .entry-summary .single_variation_wrap {
}


/* Tabs */
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
    border-top: 1px solid #939598;
    border-bottom: 1px solid #939598;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
    border-bottom: 1px solid #939598;
}

.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid #939598;
}

/* Tab Panel */
.single-product.woocommerce .woocommerce-tabs .panel h2,
.single-product.woocommerce-page .woocommerce-tabs .panel h2 {
	padding-bottom: 0;
	margin-bottom: 5px;
}

/* Product Attributes */
.woocommerce table.shop_attributes th {
    text-align: left !important;
}

/* Upsell Products */

.upsells.products h2 {
	padding-bottom: 0;
	margin-bottom: 12px;
}

/* Related Products */

.related.products h2 {
	padding-bottom: 0;
	margin-bottom: 12px;
}

/* Meta Data */
.single-product.woocommerce .product_meta,
.single-product.woocommerce-page .product_meta {
	text-transform: none;
	font-weight: 400;
	font-size: 15px;
}
.single-product.woocommerce .product_meta .sku-wrapper,
.single-product.woocommerce .product_meta .posted_in,
.single-product.woocommerce .product_meta .tagged_as {
    display: block;
}
.single-product.woocommerce .product_meta span span,
.single-product.woocommerce-page .product_meta span span,
.single-product.woocommerce .product_meta span a {
	font-weight: 300;
	font-size: 14px;
}

/* Quantity Input Container */
.woocommerce #content .quantity,
.woocommerce .quantity,
.woocommerce-page #content .quantity,
.woocommerce-page .quantity {
	display: inline-block;
	width: 55px;
}

/* Quantity Input */
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
	background: #FFFFFF;
	border-radius: 0;
	height: 48px;
}

/* Add to Cart Button */
.woocommerce div.product form.cart .button {
	color: #FFFFFF;
    border-radius: 0;
    border: none;
    width: auto;
	display: table;
	width: auto;
	min-width: 170px;
	max-width: 100%;
    height: 48px;
	padding: .9em 1em .8em 1em;
	margin: 0 0 0 7px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
}

/* Stars */
.woocommerce p.stars a {
	color: #f1b038;
}


/* -------- Cart Page -------- */

/* Full width mode */

.woocommerce-cart .widget-area {
    padding: 76px 0 0 2%;
}

/* Heading Row */
.woocommerce table.cart th,
.woocommerce-page #content table.cart th,
.woocommerce-page table.cart th {
    background-color: transparent;
}

.woocommerce td.product-name dl.variation dd,
.woocommerce td.product-name dl.variation dt {
    margin-bottom: 0;
}

.woocommerce td.product-name dl.variation dd p {
    margin: 0;
}


/* Remove Button */
.woocommerce table.cart a.remove,
.woocommerce-page #content table.cart a.remove,
.woocommerce-page table.cart a.remove {
    color: #ba2227 !important;
    padding: 0 0 0 1px;
    line-height: 28px;
}
.woocommerce table.cart a.remove:hover,
.woocommerce-page #content table.cart a.remove:hover,
.woocommerce-page table.cart a.remove:hover {
    color: #FFFFFF !important;
    background-color: #ba2227;
}

.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled] {
    top: 0px !important;
    height: 48px;
    line-height: 1;
    margin: 0 7px 0 0;
	padding: .6em 1em .4em 1em;
	padding: .9em 1em .8em;
	text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
	line-height: 20px;
    border-radius: 0;
    text-shadow: none;
}

.woocommerce table.cart input,
.woocommerce-page #content table.cart input,
.woocommerce-page table.cart input {
    background: #FFFFFF;
}

.woocommerce table.cart input[type="submit"],
.woocommerce-page #content table.cart input[type="submit"],
.woocommerce-page table.cart input[type="submit"],
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
	color: #FFFFFF;
}

/* -------- Button - Alternative -------- */

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce button.button.alt,
.woocommerce-page button.button.alt {
	color: #FFFFFF;
    top: 0px !important;
	display: inline-block;
	border: none;
    height: 48px;
    line-height: 1;
    margin: 0 0 0 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
	line-height: 20px;
    border-radius: 0;
    text-shadow: none;    
	vertical-align: middle;
}

/* Checkout */
.woocommerce-checkout .widget-area {
    padding: 76px 0 0 2%;
}

/*
.woocommerce form .form-row.woocommerce-validated .select2-container,
.woocommerce form .form-row.woocommerce-validated input.input-text,
.woocommerce form .form-row.woocommerce-validated select {
    border-color: #CCCCCC;    
}
*/

.woocommerce form .form-row input.input-text,
.woocommerce-page form .form-row input.input-text {
    background-color: #FFFFFF;
}

.select2-container .select2-choice {
    border-radius: 0;
    height: 46px;
    font-weight: 300;
}
.select2-container .select2-choice>.select2-chosen {
    line-height: 46px;
}

.woocommerce form .form-row textarea.input-text,
.woocommerce-page form .form-row textarea.input-text {
    background-color: #FFFFFF;    
}

/* -------- Messages -------- */

.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    border: none;
}

.cart-empty {
    font-size: 18px;
}
.return-to-shop {
    margin-bottom: 100px;
}
.cart-empty,
.return-to-shop {
    text-align: center;
}

.woocommerce .woocommerce-message,
.woocommerce-page .woocommerce-message {
    border-radius: 1px;
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.woocommerce .woocommerce-info,
.woocommerce-page .woocommerce-info {
    border-radius: 1px;
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.woocommerce .woocommerce-error,
.woocommerce-page .woocommerce-error {
    border-radius: 1px;
    box-shadow: none;
    background: none;
    background-color: rgba(0, 0, 0, 0.04);
}

.woocommerce .woocommerce-error:before,
.woocommerce-page .woocommerce-error:before,
.woocommerce .woocommerce-message:before,
.woocommerce-page .woocommerce-message:before,
.woocommerce .woocommerce-info:before,
.woocommerce-page .woocommerce-info:before {
    border-radius: 0;
    height: 100%;
    left: 20px;
    width: 30px;
	color: #515151;
}

/* Select2 */

.select2.select2-container--default .select2-selection--single {
	border-radius: 0;
	height: 46px;
	border-color: #CCCCCC;
	text-indent: 7px;
}

.select2.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 44px;
}

.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 44px;
}

/* -------- Yotpo Reviews plugin -------- */

.yotpo .pull-left {
	text-align: center !important;
}

.yotpo .standalone-bottomline .star-clickable {
	width: 100%
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-stars {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star,
.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star {
	float: none;
}

/* -------- Responsive -------- */

@media screen and (max-width: 972px) {
	
	/* Turn "side tabs" into top tabs */

	.woocommerce-tabs ul.tabs,
	.woocommerce div.product .woocommerce-tabs ul.tabs,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs {
	    list-style: none;
	  	padding: 0 0 0 5px;
	    margin: 0 0 5px 0;
	    overflow: hidden;
	    position: relative;
	  	width: 100%;
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
	    background: #FFFFFF;
	    z-index: 2;
	    border-bottom-color: #FFFFFF;
	}
	
	.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,
	.woocommerce-page div.product .woocommerce-tabs ul.tabs li {
	    border: 1px solid #d3ced2;
	    background-color: #ebe9eb;
	    display: inline-block;
	    position: relative;
	    z-index: 0;
	    border-radius: 4px 4px 0 0 !important;
	    margin: 0 -5px;
	    padding: 0 1em;
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
		content: ''; 
	}
	.woocommerce div.product .woocommerce-tabs ul.tabs li:after {
		content: ''; 
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
	    color: inherit;
	    text-shadow: inherit;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	    display: inline-block;
	    padding: .5em 0;
	    font-weight: 700;
	    color: #515151;
	    text-decoration: none;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	    display: inline-block;
	    padding: .5em 0;
	    font-weight: 700;
	    color: #515151;
	    text-decoration: none;
	}
	
	.woocommerce #content div.product .woocommerce-tabs .panel,
	.woocommerce div.product .woocommerce-tabs .panel,
	.woocommerce-page #content div.product .woocommerce-tabs .panel,
	.woocommerce-page div.product .woocommerce-tabs .panel {
		padding: 0;
		width: 100%;
	}

}

@media screen and (max-width: 780px) {

    .woocommerce #container,
    .woocommerce-page #container,
	.woocommerce .content-area,
    .woocommerce-page .content-area {
        width: 100%;
        float: none;
    	padding: 0;
	}

    .widget-area {
		width: 100%;
    	padding-left: 0;
    	padding-right: 0;
    	float: none;
    }

	.woocommerce ul.products li.product:nth-child(odd),
    .woocommerce-page ul.products li.product:nth-child(odd) {
		clear: left !important;
    	margin-left: 0 !important;
    	margin-right: 1% !important;
	}

	.woocommerce ul.products li.product:nth-child(even),
	.woocommerce-page ul.products li.product:nth-child(even) {
		clear: right !important;
		margin-left: 1% !important;
		margin-right: 0 !important;
	}   

	ul.product_list_widget li,
	.woocommerce.columns-4 ul.products li.product,
	body.full-width ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
    .post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
	.post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
	.archive.woocommerce.shopstar-shop-full-width ul.products li.product {
        width: 48% !important;
        margin: 0 0.9% 22px !important;
    }
    
	.post-type-archive-product.woocommerce .widget-area,
	.post-type-archive-product.woocommerce-page .widget-area,
	.single-product.woocommerce .widget-area,
	.single-product.woocommerce-page .widget-area {
		padding-top: 20px;
	}    
	
    .woocommerce .content-has-sidebar ul.products,
    .woocommerce-page .content-has-sidebar ul.products {
        margin: 0 -1% 30px;
    }
    
}

@media screen and (max-width: 780px) {

	/* -------- Products Widget -------- */
	.woocommerce ul.product_list_widget li, .widget_woocommerce_products ul li {
		width: 100%;
		margin: 0 0 20px 0;
	}
	.woocommerce ul.product_list_widget li img, .widget_woocommerce_products img {
		margin: 0 auto;
		float: none;
	}

	.account-link {
		padding: 0 0 0 0;	
	}

	.site-header .top-bar .header-cart {
		margin: 0;
		padding: 0 0 0 7px;
	}

	.header-cart-checkout .fa,
	.header-cart-checkout .otb-fa {
		font-size: 15px;
	}

	.woocommerce.shopstar-shop-full-width ul.products,
	.woocommerce-page.shopstar-shop-full-width ul.products {
        margin: 0 -1% 30px;
    }

	.woocommerce.shopstar-shop-full-width ul.products li.product,
	.woocommerce-page.shopstar-shop-full-width ul.products li.product {
        width: 48% !important;
        margin: 0 0.9% 22px !important;
    }

}

@media screen and (max-width: 769px) {

	ul.product_list_widget li,
	.woocommerce.columns-4 ul.products,
    body.full-width ul.products {
        margin: 0 -1% 30px;
    }
    
    ul.product_list_widget li,
    .woocommerce.columns-4 ul.products li.product,
    body.full-width ul.products li.product {
        width: 48%;
        margin: 0 0.9% 22px;
    }

	.woocommerce #customer_details,
	.woocommerce-page #customer_details {
		width: 100%;
	}
	.woocommerce #order_review_heading,
	.woocommerce-page #order_review_heading,
	.woocommerce #order_review,
	.woocommerce-page #order_review {
		width: 100%;
	}
	.woocommerce #order_review_heading,
	.woocommerce-page #order_review_heading {
		margin: 44px 0 0;
	}

}

@media screen and (max-width: 768px) {

	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images {
	    margin: 0 0 20px;
	    
	}

	.woocommerce table.cart input,
	.woocommerce-page #content table.cart input,
	.woocommerce-page table.cart input {
		font-size: 13px;
	}

	.woocommerce #content table.cart td.actions,
	.woocommerce table.cart td.actions,
	.woocommerce-page #content table.cart td.actions,
	.woocommerce-page table.cart td.actions {
		display: inline-block;
		width: 100%;
	}

	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		min-width: 254px;
		float: right;
		display: inline-block;
		clear: both;
	}
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
		max-width: 150px;
	}
	
	.woocommerce #content table.cart td.actions .coupon .button,
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .button {
		max-width: 120px;
		padding: 9px 0 9px 0;
		clear: none;
		float: none !important;
	}

	.woocommerce #content table.cart td.actions .button,
	.woocommerce table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .button {
		max-width: 120px;
		padding: 9px 0 9px 0;
		float: right;
		clear: both;
		display: inline-block;
	}	
	
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
	
	.woocommerce .cart-collaterals .cart_totals table td,
	.woocommerce-page .cart-collaterals .cart_totals table td {
		width: 100%;
	}

}

@media screen and (max-width: 640px) {
    
    .woocommerce #container,
    .woocommerce-page #container,
	.woocommerce .content-area,
    .woocommerce-page .content-area {
        width: 100%;
        float: none;
    }
    
    .woocommerce .content-has-sidebar ul.products,
    .woocommerce-page .content-has-sidebar ul.products {
        margin: 0 0 10px;
    }
    
    ul.product_list_widget li,
	.woocommerce.columns-4 ul.products li.product,
	body.full-width ul.products li.product,
    .woocommerce ul.products li.product,
    .woocommerce-page ul.products li.product,
    .post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
	.post-type-archive-product.woocommerce.shopstar-shop-full-width ul.products li.product,
    .archive.woocommerce.shopstar-shop-full-width ul.products li.product {
        width: 100% !important;
        margin: 0 0 24px 0 !important;
    }

	.woocommerce ul.products li.product:nth-child(odd),
	.woocommerce-page ul.products li.product:nth-child(odd)
	.woocommerce ul.products li.product:nth-child(even),
	.woocommerce-page ul.products li.product:nth-child(even) {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}    
    
}

@media screen and (max-width: 560px) {
    
    .woocommerce .woocommerce-result-count,
    .woocommerce-page .woocommerce-result-count {
    	width: 100%;
        float: none;
    	text-align: center;
        border-bottom: 0;
        margin: 0;
    	padding: 7px 0 0 0; 
	}
	
    .woocommerce .woocommerce-ordering,
    .woocommerce-page .woocommerce-ordering {
        width: 100%;
		float: none;
    	padding-bottom: 14px;
    }
    
	.woocommerce .woocommerce-ordering select,
	.woocommerce-page .woocommerce-ordering select {
		width: 100%;
		max-width: 100%;
	}    
    
}

@media screen and (max-width: 460px) {

	ul.product_list_widget li,
    .woocommerce.columns-4 ul.products,
    body.full-width ul.products {
        margin: 0 0 10px;
    }

    ul.product_list_widget li,
    .woocommerce.columns-4 ul.products li.product,
    body.full-width ul.products li.product {
        width: 100%;
        margin: 0 0 24px;
    }
	
	.woocommerce.shopstar-shop-full-width ul.products,
	.woocommerce-page.shopstar-shop-full-width ul.products {
        margin: 0 0 10px;
    }
    
	.woocommerce.shopstar-shop-full-width ul.products li.product,
	.woocommerce-page.shopstar-shop-full-width ul.products li.product {
        width: 100%;
        margin: 0 0 24px;
    }
    
}

@media screen and (max-width: 407px) {
	.woocommerce table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon {
		max-width: 100%;
		min-width: 100%;
	}
	
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text {
		display: block;
		width: 100%;
		max-width: 100%;
		margin-bottom: .5em;
	}

	.woocommerce-cart .wc-proceed-to-checkout {
		width: 100%;
	}

	.woocommerce #content table.cart td.actions .coupon .button,
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .button,
	.woocommerce #content table.cart td.actions .button,
	.woocommerce table.cart td.actions .button,
	.woocommerce-page #content table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
		display: block;
		width: 100%;
		max-width: 100%;
	}
}
